/* QM icons -------------------------------------------------- */
.new_model     {background:url(inline/new_model.png)     0 4px/16px 16px no-repeat;}
.qp_framework  {background:url(inline/qp_framework.png)  0 4px/16px 16px no-repeat;}
.search_folder {background:url(inline/search_folder.png) 0 4px/16px 16px no-repeat;}
.codegen       {background:url(inline/codegen.png)       0 4px/16px 16px no-repeat;}
.model         {background:url(inline/model.png)         0 4px/16px 16px no-repeat;}
.package       {background:url(inline/package.png)       0 4px/16px 16px no-repeat;}
.package_evts  {background:url(inline/package_evts.png)  0 4px/16px 16px no-repeat;}
.package_comp  {background:url(inline/package_comp.png)  0 4px/16px 16px no-repeat;}
.package_diag  {background:url(inline/package_diag.png)  0 4px/16px 16px no-repeat;}
.package_frame {background:url(inline/package_frame.png) 0 4px/16px 16px no-repeat;}
.package_imp   {background:url(inline/package_imp.png)   0 4px/16px 16px no-repeat;}
.directory     {background:url(inline/directory.png)     0 4px/16px 16px no-repeat;}
.attr          {background:url(inline/attr.png)          0 4px/16px 16px no-repeat;}
.oper          {background:url(inline/oper.png)          0 4px/16px 16px no-repeat;}
.class         {background:url(inline/class.png)         0 4px/16px 16px no-repeat;}
.class_sm      {background:url(inline/class_sm.png)      0 4px/16px 16px no-repeat;}
.class_evt     {background:url(inline/class_evt.png)     0 4px/16px 16px no-repeat;}
.class_active  {background:url(inline/class_active.png)  0 4px/16px 16px no-repeat;}
.statechart    {background:url(inline/statechart.png)    0 4px/16px 16px no-repeat;}
.diagrams      {background:url(inline/diagrams.png)      0 4px/16px 16px no-repeat;}
.directory     {background:url(inline/directory.png)     0 4px/16px 16px no-repeat;}
.file_source_c {background:url(inline/file_source_c.png) 0 4px/16px 16px no-repeat;}
.state         {background:url(inline/state.png)         0 4px/16px 16px no-repeat;}
.initial       {background:url(inline/initial.png)       0 4px/16px 16px no-repeat;}
.history       {background:url(inline/history.png)       0 4px/16px 16px no-repeat;}
.tran          {background:url(inline/tran.png)          0 4px/16px 16px no-repeat;}
.choice        {background:url(inline/choice.png)        0 4px/16px 16px no-repeat;}
.undo          {background:url(inline/undo.png)          0 4px/16px 16px no-repeat;}
.redo          {background:url(inline/redo.png)          0 4px/16px 16px no-repeat;}
.cut           {background:url(inline/cut.png)           0 4px/16px 16px no-repeat;}
.copy          {background:url(inline/copy.png)          0 4px/16px 16px no-repeat;}
.paste         {background:url(inline/paste.png)         0 4px/16px 16px no-repeat;}
.lock          {background:url(inline/lock.png)          0 4px/16px 16px no-repeat;}
.unlock        {background:url(inline/unlock.png)        0 4px/16px 16px no-repeat;}
.move_up       {background:url(inline/move_up.png)       0 4px/16px 16px no-repeat;}
.move_down     {background:url(inline/move_down.png)     0 4px/16px 16px no-repeat;}
.delete        {background:url(inline/delete.png)        0 4px/16px 16px no-repeat;}
.select        {background:url(inline/select.png)        0 4px/16px 16px no-repeat;}
.anchor        {background:url(inline/anchor.png)        0 4px/16px 16px no-repeat;}
.forbidden     {background:url(inline/forbidden.png)     0 4px/16px 16px no-repeat;}
.plus          {background:url(inline/plus.png)          0 4px/16px 16px no-repeat;}
.minus         {background:url(inline/minus.png)         0 4px/16px 16px no-repeat;}
.file          {background:url(inline/file.png)          0 4px/16px 16px no-repeat;}
.file_c        {background:url(inline/file_source_c.png)   0 4px/16px 16px no-repeat;}
.file_cpp      {background:url(inline/file_source_cpp.png) 0 4px/16px 16px no-repeat;}
.file_doc      {background:url(inline/file_doc.png)      0 4px/16px 16px no-repeat;}
.file_h        {background:url(inline/file_h.png)        0 4px/16px 16px no-repeat;}
.file_ino      {background:url(inline/file_ino.png)      0 4px/16px 16px no-repeat;}
.file_mak      {background:url(inline/file_mak.png)      0 4px/16px 16px no-repeat;}
.file_pdf      {background:url(inline/file_pdf.png)      0 4px/16px 16px no-repeat;}
.file_py       {background:url(inline/file_py.png)       0 4px/16px 16px no-repeat;}
.file_qm       {background:url(inline/file_qm.png)       0 4px/16px 16px no-repeat;}
.file_qmp      {background:url(inline/file_qmp.png)      0 4px/16px 16px no-repeat;}
.file_tcl      {background:url(inline/file_tcl.png)      0 4px/16px 16px no-repeat;}
.file_wish     {background:url(inline/file_wish.png)     0 4px/16px 16px no-repeat;}
.folder        {background:url(inline/folder.png)        0 4px/16px 16px no-repeat;}
.grid          {background:url(inline/grid3.png)         0 4px/16px 16px no-repeat;}
.key_up        {background:url(inline/key_up.png)        0 4px/16px 16px no-repeat;}
.key_down      {background:url(inline/key_down.png)      0 4px/16px 16px no-repeat;}
.key_left      {background:url(inline/key_left.png)      0 4px/16px 16px no-repeat;}
.key_right     {background:url(inline/key_right.png)     0 4px/16px 16px no-repeat;}
.zoom_in       {background:url(inline/zoom_in.png)       0 4px/16px 16px no-repeat;}
.zoom_out      {background:url(inline/zoom_out.png)      0 4px/16px 16px no-repeat;}
.zoom_100      {background:url(inline/zoom_100.png)      0 4px/16px 16px no-repeat;}
.export_emf    {background:url(inline/export_emf.png)    0 4px/16px 16px no-repeat;}
.windows       {background:url(inline/windows.png)       0 4px/16px 16px no-repeat;}
.tool_manager  {background:url(inline/tool_manager.png)  0 4px/16px 16px no-repeat;}
.search_computer {background:url(inline/search_computer.png) 0 4px/16px 16px no-repeat;}
.search_folder {background:url(inline/search_folder.png) 0 4px/16px 16px no-repeat;}
.arrow_right   {background:url(inline/arrow_right.png)   0 4px/16px 16px no-repeat;}
.expand        {background:url(inline/expand.png)        0 4px/16px 16px no-repeat;}
.collapse      {background:url(inline/collapse.png)      0 4px/16px 16px no-repeat;}
.license_gpl   {background:url(inline/license_gpl.png)   0 4px/16px 16px no-repeat;}
.tool0         {background:url(inline/tool0.png)         0 4px/16px 16px no-repeat;}
.tool1         {background:url(inline/tool1.png)         0 4px/16px 16px no-repeat;}
.tool2         {background:url(inline/tool2.png)         0 4px/16px 16px no-repeat;}
.tool3         {background:url(inline/tool3.png)         0 4px/16px 16px no-repeat;}
.tool4         {background:url(inline/tool4.png)         0 4px/16px 16px no-repeat;}
.tool5         {background:url(inline/tool5.png)         0 4px/16px 16px no-repeat;}
.tool_kill     {background:url(inline/tool_kill.png)     0 4px/16px 16px no-repeat;}
.tool_manager  {background:url(inline/tool_manager.png)  0 4px/16px 16px no-repeat;}
.paste_link    {background:url(inline/paste_link.png)    0 4px/16px 16px no-repeat;}
.tran_internal {background:url(inline/tran_internal.gif) 0 4px/16px 16px no-repeat;}
.tran_state    {background:url(inline/tran_state.gif)    0 4px/16px 16px no-repeat;}
.tran_choice   {background:url(inline/tran_choice.gif)   0 4px/16px 16px no-repeat;}

.cur_end       {background:url(inline/cur_end.png)       0 4px/16px 16px no-repeat;}
.cur_enda      {background:url(inline/cur_enda.png)      0 4px/16px 16px no-repeat;}
.cur_endx      {background:url(inline/cur_endx.png)      0 4px/16px 16px no-repeat;}
.cur_grab      {background:url(inline/cur_grab.png)      0 4px/16px 16px no-repeat;}
.cur_hor       {background:url(inline/cur_hor.png)       0 4px/16px 16px no-repeat;}
.cur_initial1  {background:url(inline/cur_initial1.png)  0 4px/16px 16px no-repeat;}
.cur_initial1a {background:url(inline/cur_initial1a.png) 0 4px/16px 16px no-repeat;}
.cur_initial1x {background:url(inline/cur_initial1x.png) 0 4px/16px 16px no-repeat;}
.cur_pan       {background:url(inline/cur_pan.png)       0 4px/16px 16px no-repeat;}
.cur_select    {background:url(inline/cur_select.png)    0 4px/16px 16px no-repeat;}
.cur_select0   {background:url(inline/cur_select0.png)   0 4px/16px 16px no-repeat;}
.cur_select1   {background:url(inline/cur_select1.png)   0 4px/16px 16px no-repeat;}
.cur_state1    {background:url(inline/cur_state1.png)    0 4px/16px 16px no-repeat;}
.cur_text_move {background:url(inline/cur_text_move.png) 0 4px/16px 16px no-repeat;}
.cur_tran1     {background:url(inline/cur_tran1.png)     0 4px/16px 16px no-repeat;}
.cur_tran1a    {background:url(inline/cur_tran1a.png)    0 4px/16px 16px no-repeat;}
.cur_tran1x    {background:url(inline/cur_tran1x.png)    0 4px/16px 16px no-repeat;}
.cur_ver       {background:url(inline/cur_ver.png)       0 4px/16px 16px no-repeat;}

.submachine    {background:url(inline/submachine.png)    0 4px/16px 16px no-repeat;}
.ep_seg        {background:url(inline/ep_seg.png)        0 4px/16px 16px no-repeat;}
.xp            {background:url(inline/xp.png)            0 4px/16px 16px no-repeat;}
.sm_state      {background:url(inline/sm_state.png)      0 4px/16px 16px no-repeat;}
.xp_seg        {background:url(inline/xp_seg.png)        0 4px/16px 16px no-repeat;}




